<form action="/bookmarks/bookmarks" method="get">
  <input type="submit" value="See bookmarks" />
</form>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmarks" />
</form>

